@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Monoton&display=swap');

.one{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.img{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding-top: 20px;
}
.btnArabic{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 70px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 20px;

}
.btnEng{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 70px;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.main-btn{
    margin-top: 200px;
}
.title{
    font-family: 'Cairo', sans-serif;
}